.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 5px;
  border-bottom: 1px solid lightgray;
  color: lightcoral;
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.App-nav {
  border-right: 1px solid lightgray;
  width: 200px;
  color: white;
  padding: 5px;
}

.App-nav ul {
  list-style: none;
}

.App-nav ul li:first-child {
  margin-top: 0px;
}

.App-nav ul li {
  margin-top: 10px;
}

.App-nav-link {
  color: lightgreen;
  text-decoration: none;
}

.App-nav-link-selected {
  color: darkseagreen;
}

.App-content {
  padding: 5px;
  flex: 1;
}

.App-button {
  background-color: #85fae2;
  box-shadow: none;
  border: none;
  border-radius: 2px;
  color: black;
  outline: none;
  height: 32px;
  width: 80px;
}

.App-button:hover {
  cursor: pointer;
  background-color: #09d3ac;
}

.App-button:active,
.App-button:active:hover,
.App-button:active:focus {
  background-color: #08c49e;
}
