{
    "env": {
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "plugins": ["node"],
    "extends": ["eslint:recommended", "plugin:node/recommended"],
    "rules": {
        "no-console": "off",
        "semi": [
            "error",
            "always"
        ]
    }
}